.alumni_modal{
    
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 200px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        .modal_content{
            padding: 20px;
            margin: auto;
        }
      
    .close_btn {
    position: fixed;
    right: 0;
    margin-right: 18px;
    font-weight: bold;
  }
  
  .close_btn:hover,
  .close_btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}