// color template 
.color-primary{
    color:$color-kosa-primary;
}
.color-secondary{
    color:$color-kosa-blue;
}
.bg-trasp{
    background: $color-transp;
}
.bg-kosa-blue{
    background: $color-kosa-blue;
}
.bg-kosa-red{
    background:$color-kosa-red;
}
.bg-kosa-1{
    background:#e89a09;
}
.bg-kosa-2{
    background:#e4fa23;
}
.bg-kosa-3{
    background:#09edde;
}